.main {
padding: 2px;
background-color: #aaaaaa;
margin-top: 25px;
margin-bottom: 33px;
margin: 10px;
margin-left: 2px;
display: flex;
text-align: center;
}
.main p {
padding: 2px;
margin: 6px;
font-size: 15px;
border-width: medium;
border: 1px  white;
margin-top: 5px;
margin-bottom: 5px;
margin-right: 20px;
margin-left: 20px;

}
.head  h1{
border: 1px;
position: absolute;
width: 100%;
font-size: 43px;
margin: -1px;
background-color: rgb(197, 21, 21);
}
h1 input  {
font-size: 33px;
color: black;
margin: 20px;
}

h1 {
padding: 12px;
padding-top: 10px;
padding-bottom: 5px;
padding-left: 4px;
padding-right: 14px;
}
.head a:hover {
color: hotpink;
} 
.main a:hover{
    color: yellow;
}
.h1 a:hover{
    color: darkblue;
}
